/* Step 1 CSS Assignment is to set up Font-family and Font-size for text */
.head-main {
    text-align: center;
    font-family: "Caveat", Times, sans-serif;
    color: purple;
    font-size: 30px;
}
 
h1 {
    text-align: center;
    font-family: "Caveat", Times, sans-serif;
    color: black;
    font-size: 30px;
}

/* Step 2 is to set the following properties for the form on the page:
    A. Width of the inputs
    B. Margin between the inputs
    C. Border of the inputs
    D. Border radius of the inputs */

    .reservation {
        width: 50%;
        padding: 10px;
        border-radius: 8px;
        margin: 0px auto;
        background-color: rgba(100,65,0,0.3);
        box-shadow: -1px -1px 1px 0 rgba(0,0,0,0.1), 1px 2px 10px 0 rgba(0,0,0,0.5);
    }
    
    .reservation h2 {
        width: 70%;
        text-align: center;
        margin: 0 auto;
        color: #13161B;
        font-weight: 500;
        font-size: 1.3em;
        letter-spacing: 0pt;
        word-spacing: 0pt;
    }
    
    .reservation h2 span {
        width: 70%;
        text-align: center;
        margin: 0 auto;
        color: #13161B;
        font-weight: 900;
        font-size: 1.5em;
        font-variant: small-caps;
        letter-spacing: .4pt;
        word-spacing: .3pt;
    }
    
    .reservation p {
        color: #13161B;
        width: 50%;
        margin: 0 auto;
    }
    
    .reservation form {
        font-size: 15px;
        outline: none;
        font-weight: 600;
        color: #fff;
        padding: 15px 15px;
        width: 70%;
        border: 1px solid #808080;
        margin: 2% auto;
        border-radius: 10px;
        background: rgb(227,222,222);
        box-shadow: 2px 3px 3px 0px rgba(0, 0, 0, 0.3);
        font-family: 'Caveat', sans-serif;
    }
    
    .reservation input[type="text"] {
        font-size: 15px;
        outline: none;
        font-weight: 600;
        color: #8D8E8F;
        padding: 2% 1% 2% 7%;
        width: 80%;
        border-top: 1px solid #090B9D;
        border-right: 2px solid #424549;
        border-bottom: 2px solid #424549;
        border-left: 1px solid #090B9D;
        margin: 10px 1em;
        border-radius: 7px;
        background: #13161B;
        box-shadow: inset 0px 3px 0px 0px rgba(5, 5, 5, 0.15);
        font-family: 'Caveat', sans-serif;
    }
    
    .reservation input[type="text"]:hover {
        box-shadow: 0 0 18px rgba(100,65,0,.8);
    }
    
    .form-spacer {
        padding: 30px 39px;
    }
    
    .terms {
        margin: 30px 1px 0 0;
        padding-left: 52px;
        font-size: 14px;
        line-height: 5px;
        color: #000;
        cursor: pointer;
        font-family: 'Caveat', sans-serif;
        font-weight: 600;
        position: relative;
        display: inline;
        float: right;
        
    }
    
    .terms:hover {
        color: orange;
        text-decoration: underline;
    }
    
    .submit input[type="submit"] {
        color: rgb(225,225,225);
        cursor: pointer;
        border: none;
        font-weight: 900;
        outline: none;
        text-align: center;
        font-family: 'Caveat', sans-serif;
        margin: 0px 3%;
        padding: 7px 0px;
        width: 25%;
        font-size: 18px;
        transition: border-color 0.3s color 0.3s background-color 0.3s;
        border-radius: 7px;
        background-color: #797a7b;
        box-shadow: 1px 1px 4px 0 rgba(0,0,0,0.3);
    }
    
    .submit input[type="submit"]:hover {
        color: #000;
        background-color: #8D8E8F;
        box-shadow: inset 1px 2px 15px 0 rgba(0,0,0,0.5);
    }